<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lab 2</title>

    <!-- Bootstrap -->
    <link href="../masterpage/css/bootstrap.min.css" rel="stylesheet"><!--
    <link href="../masterpage/css/bootstrap-theme.min.css" rel="stylesheet">-->
    </head>
    <body ng-init="names=[
        {'name':'AdRINK','country':'Thailand','salary':15000},
        {'name':'BdRINK','country':'Engiland','salary':18000},
        {'name':'XdRINK','country':'Loas','salary':20000},
        {'name':'ZdRINK','country':'LA','salary':25000}
    ]">
<!--        -คูณ กัน 
        <div class="container">
            <h2>Komson Kawichai</h2>
            <input type="number" class="form-control" ng-model="price" placeholder="Price">
            <input type="number" class="form-control" ng-model="qty" placeholder="Qty">
            <p>Total : {{ price*qty }}</p>
        </div>-->

        <!-- For each -->
        <div class="container">
            <h2>Komson Kawichai</h2>
            <ul class="list-group" ng-repeat="n in names">
                <li class="list-group-item">{{ n.name +' '+ n.country + ' '+ n.salary }}</li>
            </ul>
            <input type="text" class="form-control" ng-model="queryString.name" placeholder="Filter By">
            <p>Filter by : {{ queryString }}</p>
            <input type="radio" value="name" ng-model="SortString">by Name
            <input type="radio" value="-name" ng-model="SortString">by Name DESC
            <input type="radio" value="country" ng-model="SortString">by Country
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td>Country</td>
                        <td>Salary</td>
                    </tr>
                    <tr ng-repeat="n in names | filter:queryString | orderBy:SortString">
                        <td>{{ n.name }}</td>
                        <td>{{ n.country }}</td>
                        <td>{{ n.salary | currency:'THB' }}</td> 
                    </tr>
            </table>
        </div>
<!--        <script src="../masterpage/js/jquery-1.11.2.min.js"></script>
        <script src="../masterpage/js/bootstrap.min.js"></script>-->
        <script src="../masterpage/js/angular.min.js"></script>
        
    </body>
</html>